@keyframes rotateAroundCenter {
  0% { transform: rotate(0deg) translateX(15px); }
  100% { transform: rotate(360deg) translateX(15px); }
}

  .loading-dots {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -1px 0 0 -1px;
    animation: rotateAroundCenter 1.5s ease-in-out infinite;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.33s;
  }
  
  .dot:nth-child(3) {
    animation-delay: -0.66s;
  }

  .dot:nth-child(4) {
    animation-delay: -1s;
  }
